@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image{
  background-image: url("/Rectangle 6.png");
  height: 1000px;
  width: 650px;
  margin-left: 128px;
  background-repeat: no-repeat;
}

.image1{
  background-image: url("/Rectangle 12.png");
  height: 300px;
  width: 620px;
  margin-left: 50px;
  background-repeat: no-repeat;
}